.reddish{border: 1px solid red;}
.blueish {border: 1px dashed blue;}
.home{
  height: 850px;
  background-image: url(./assets/bg_hero_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#container_home{
  padding-top: 20vh;
}
#heading_top{
  margin-top: 20vh;
}
#container_home .second-col{
  text-align: center;
}






@media screen and (max-width: 600px) {
  #container_home{
    padding-top: unset;
  }
  #heading_top{
    margin-top: 2vh;
  }
  #container_home .second-col{
    text-align: unset;
  }
    
}